*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
section {
    padding: 80px 55px;
}
/* nav css */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:24px 115px;
    background-color: #FFFFFF;
}
ul{
    display: flex;
    gap: 10px;
    color: #575757;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}

/* header part css */
header{
    background-image:linear-gradient(to right,
            rgba(0, 0, 0, 0.6) 30%,
            rgba(0, 0, 0, 0) 70%), url("../assets/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 110px;
}
header .header-text h1{
    color: #FFFFFF;
    font-size: 80px;
    font-weight: bold ;
   
}
header .header-text h1 span{
    font-style: italic;
}
header .header-text p{
    color: #FFFFFF;
    margin-top: 12px;
}
header .header-btn{
    margin-top: 400px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 25px 62px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
}


/* Meet the Speakers css */
.img-speaker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    padding: 30px 60px;
}

.img-speaker-container {
    border: #E5E7EB 1px solid;
    border-radius: 12px;
}

.img-speaker-container .img-container {
    width: 100%;
}

.img-container img {
    width: 100%;
    object-fit: cover;
    display: block;
    background-color: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
}
.img-text h5{
    color: #2563EB;
    padding-top: 22px;
    margin-left: 24px;
}
.img-text h1{
    padding-top: 8px;
    margin-left: 24px;
    color:#0D1B2A ;
}
.img-text p{
    padding-top: 8px;
    margin-left: 24px;
    color:#575757;
    margin-bottom: 27px;
}
.Speakers-text{
    text-align: center;
    margin-bottom: 55px     ;
}
.Speakers-text h1{
    font-weight: bold;
    font-size: 56px;
}